# // OpenAI Configuration

OPENAI_MODEL=
OPENAI_API_KEY=

# // Development Server Configuration

PORT=
NODE_ENV=
DATABASE_URL=
JWT_SECRET=
BCRYPT_ROUNDS=

# // Prisma Singleton Adapter Configuration

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# // Frontend Configuration

FRONTEND_URL=

# // System Prompt

SYSTEM_PROMPT=

CURRENT_WORKSHOPS_RULES=

CURRENT_WORKSHOPS=
