# // OpenAI Configuration

OPENAI_MODEL=
OPENAI_API_KEY=

# // Development Server Configuration

PORT=
NODE_ENV=
DATABASE_URL=
JWT_SECRET=

# // Frontend Configuration

FRONTEND_URL=

# // System Prompt

SYSTEM_PROMPT=

CURRENT_WORKSHOPS_RULES=

CURRENT_WORKSHOPS=
